<div class="row">    
    <div class="form-group col-md-4">
        {% if form.children.roles.vars.choices is defined %}
            <select id="{{form.roles.vars.id}}" name="{{form.roles.vars.full_name}}" required="required" class="task_field form-control" multiple="multiple">
                {% for choice in form.children.roles.vars.choices %}
                    <option value="{{choice.value}}">{{choice.label}}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>


    <div class="form-group col-md-4">
        {% if form.children.companies.vars.choices is defined %}
            <select id="{{form.companies.vars.id}}" name="{{form.companies.vars.full_name}}" required="required" class="task_field form-control" multiple="multiple">
                {% for choice in form.children.companies.vars.choices %}
                    <option value="{{choice.value}}">{{choice.label}}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</div>