{% extends "FrontBundle::layout.html.twig" %}
    {% block title %}
        Nouveau salarié
    {% endblock %}
{% block stylesheet %}
    {{ parent() }}

    <link href={{ asset('vendor/plugins/datatables/media/css/dataTables.bootstrap.css') }} rel="stylesheet">
    <link href={{ asset('vendor/plugins/datatables/media/css/dataTables.plugins.css') }} rel="stylesheet">
    <link href={{ asset('assets/css/custom.css') }} rel="stylesheet">
{% endblock %}
{% block body %}
    <header class="custom_header">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <a href="dashboard.html">Nouveau Document</a>
                </li>
                <li class="crumb-icon">
                    <a href="{{ path('front_homepage') }}">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-link">
                    <a href="{{ path('front_homepage') }}">Gestion des salariés</a>
                </li>
                <li class="crumb-link">
                    <a href="{{ path('front_salary_docs', {id:ids}) }}">Documents du salarié #{{ ids }}</a>
                </li>
                <li class="crumb-trail">Nouveau Document</li>
            </ol>
        </div>
    </header>
    <br/>
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert alert-border-bottom alert-system bg-gradient ">
            <i class="fa fa-check pr10"></i>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('erreur') %}
        <div class="alert alert-sm alert-border-left alert-danger ">
            <i class="fa fa-info pr10"></i>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <br/>
    <div class="col-md-8 col-md-offset-4 admin-form theme-primary mw1000 center-block panel-body bg-light">

        {% block form %}
        <form action="{{ path('front_salary_add_doc', {id: ids}) }}" method="post" class="form-group" {{ form_enctype(form) }}>
            {% endblock %}
            {{ form_errors(form) }}
            <span class="required-input"> * </span> : Champs obligatoires.
            <br/>
            <br/>
            <br/>

            <div class="row">
                <div class="form-group col-md-6">
                    <div style="margin-bottom:10px;">
                        <label for="user">{{ form_label(form.name, "Nom") }}<span
                                    class="required-input"> * </span></label>
                        {% if form.name.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {{ form_errors(form.name) }}
                                </label>
                                {{ form_widget(form.name, {'attr': {'class': 'task_field form-control', 'id':'name' } }) }}
                            </div>
                        {% else %}
                            {{ form_widget(form.name, {'attr': {'class': 'task_field form-control', 'id':'name' } }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div style="margin-bottom:10px;">
                        <label for="user">{{ form_label(form.category, "Catégorie") }} <span
                                    class="required-input"> * </span></label>
                        {% if form.category.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {{ form_errors(form.category) }}
                                </label>
                                {{ form_widget(form.category, {'attr': {'class': 'task_field form-control ', 'id':'visibility', 'required':'required'} }) }}
                            </div>
                        {% else %}
                            {{ form_widget(form.category, {'attr': {'class': 'task_field form-control', 'id':'visibility', 'required':'required' } }) }}
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-group col-md-12">
                    <div style="margin-bottom:10px;">
                        <label for="user">{{ form_label(form.doc, "Document") }}</label>
                        {% if form.doc.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {{ form_errors(form.doc) }}
                                </label>
                                {{ form_widget(form.doc, {'attr': {'class': 'task_field form-control' } }) }}
                            </div>
                        {% else %}
                            {{ form_widget(form.doc, {'attr': {'class': 'task_field form-control' } }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6">

                    <div style="margin-bottom:10px;">
                        {% if form.visibility.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {{ form_errors(form.visibility) }}
                                </label>
                                <div class="checkbox-custom  mb5">
                                    {{ form_widget(form.visibility, {'attr': {'class': 'task_field form-control', 'id':'checkboxExample10' } }) }}
                                    {{ form_label(form.visibility, "Visible pour  le salarié") }}
                                </div>
                            </div>
                        {% else %}
                            <div class="checkbox-custom  mb5">
                                {{ form_widget(form.visibility, {'attr': {'class': 'task_field form-control', 'id':'checkboxExample10' } }) }}
                                {{ form_label(form.visibility, "Visible pour  le salarié") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">

                    <div style="margin-bottom:10px;">
                        {% if form.specialDoc.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {{ form_errors(form.specialDoc) }}
                                </label>
                                <div class="checkbox-custom  mb5">
                                    {{ form_widget(form.specialDoc, {'attr': {'class': 'task_field form-control', 'id':'checkboxExample10' } }) }}
                                    {{ form_label(form.specialDoc, "Document à signer par le salarié") }}
                                </div>
                            </div>
                        {% else %}
                            <div class="checkbox-custom  mb5">
                                {{ form_widget(form.specialDoc, {'attr': {'class': 'task_field form-control', 'id':'checkboxExample10' } }) }}
                                {{ form_label(form.specialDoc, "Document à signer par le salarié") }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            <br/>

            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary"> Valider le formulaire</button>
                <button type="reset" class="btn btn-primary"> Annuler</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}