{% extends "FrontBundle::layout.html.twig" %}
{% block title %}
    Nouveau utilisateur
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href={{ asset('vendor/plugins/datatables/media/css/dataTables.bootstrap.css') }} rel="stylesheet">
    <link href={{ asset('vendor/plugins/datatables/media/css/dataTables.plugins.css') }} rel="stylesheet">
{% endblock %}
{% block body %}
    <header class="custom_header">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active">
                    <!--a href="dashboard.html">{#% block b %#}Ajouter un utilisateur{#% endblock %#}</a-->
                    <a href="#">{% block b %}Ajouter un utilisateur{% endblock %}</a>
                </li>
                <li class="crumb-icon">
                    <a href="{{ path('back_homepage') }}">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="crumb-link">
                    <a href="{{ path('manage_users') }}">Gestion des salariés</a>
                </li>
                <li class="crumb-trail">{{ block('b') }}</li>
            </ol>
        </div>
    </header>
    <br/>

    <hr class="small-margin"/>
    <br/>
    <div class="col-md-8 col-md-offset-4 admin-form theme-primary mw1000 center-block panel-body bg-light">

        {% block form %}
            <form id="frm_add_rh_utilisateur" action="{{ path('manage_users_add') }}" method="post" class="form-group" {{ form_enctype(form) }}>
            {% endblock %}
            {{ form_errors(form) }}
            <span class="required-input"> * </span> : Champs obligatoires.
            <br/>
            <br/>
            <br/>

            <div style="margin-bottom:10px;">
                <label for="user">{{ form_label(form.nom, "Nom") }}</label>
                {{ form_errors(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'task_field form-control', 'id':'nom' } }) }}
            </div>
            <div style="margin-bottom:10px;">
                <label for="user">{{ form_label(form.prenom, "Prénom") }}</label>
                {{ form_errors(form.prenom) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'task_field form-control', 'id':'prenom' } }) }}
            </div>
            <div style="margin-bottom:10px;">
                <label for="inputEmail3" class=" control-label">{{ form_label(form.email, "Email") }}<span class="required-input" > * </span></label>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'task_field form-control', 'id':'email' } }) }}
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail3" class=" control-label">{{ form_label(form.user.username, "Login"|trans({},'messages') ) }} <span class="required-input" > * </span></label>
                    <div >
                        {% if form.user.username.vars.errors|length %}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">{{ form_errors(form.user.username) }}</label>
                                {{ form_widget(form.user.username, {'attr': {'class': 'task_field form-control', 'id':'inputError', 'id':'nom', 'placeholder':'Login' } }) }}
                            </div>
                        {% else %}
                            {# Génération de l'input. #}
                            {{ form_widget(form.user.username, {'attr': {'class': 'task_field form-control', 'id':'nom', 'placeholder':'' } }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail3" class=" control-label">{{ form_label(form.user,  "Mot de passe"|trans({},'messages')) }} <span class="required-input" > * </span></label>
                    <div >
                        {% if  app.session.flashbag.has('error_user_pass')%}
                            {# Affichage des erreurs pour ce champ précis. #}
                            <div class="form-group has-error">
                                <label class="control-label" for="inputError">
                                    {% for flashMessage in app.session.flashbag.get('error_user_pass') %}
                                        <li>{{ flashMessage }}</li>
                                        {% endfor %}
                                </label>
                                <td>{{ form_widget(form.user.password, {'attr': {'class': 'task_field form-control', 'id':'nom', 'placeholder':"Mot de passe"|trans({},'messages') } }) }}</td>
                            </div>
                        {% else %}
                            <td>{{ form_widget(form.user.password, {'attr': {'class': 'task_field form-control', 'id':'nom', 'placeholder':'Mot de passe' } }) }}</td>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="margin-bottom:78px;">
                <!--label for="user">{#{ form_label(form.user.roles, "Roles") }#}</label-->
                {#{ form_errors(form.user.roles) }#}
                {#{ form_widget(form.user.roles, {'attr': {'class': 'task_field form-control', 'id':'roles' } }) }#}

                <div class="form-group col-md-4">
                    <label> <span class="required-input"> * </span>Roles</label>
                    <select id="role_users_select" required="required" class="task_field form-control">
                        <option value=""></option>
                        {% for role in roles %}
                            <option value="{{role.id}}">{{role.role}}</option>
                        {% endfor %}
                    </select>

                </div>


            </div>
            {#{ form_rest(form) }#}
            {#{dump(form.children)}#}
            {{ form_widget(form.children.extra_user_role) }}
            {{ form_widget(form.children._token) }}

            <div class="panel-footer text-right">
                <button id="btn_add_users" type="submit" class="btn btn-primary btn-xs" style="display: block"><i class="fa fa-check"></i> Valider le formulaire</button>
                <button id="btn_reset_user" type="reset" class="btn btn-dark btn-xs"><i class="fa fa-refresh"></i> Annuler</button>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {


            var text = $('#role_users_select :selected').text();
            if (text != '') {

                $("#btn_add_users").css('display', 'block');
            } else {
                $("#btn_add_users").css('display', 'none');

            }
            $("#role_users_select").change(function (e) {

                var text = $('#role_users_select :selected').text();
                if (text != '') {

                    $("#btn_add_users").css('display', 'block');
                    $("#btn_add_users").css('margin-left', '688px');
                    $("#btn_add_users").css('margin-top', '2px');
                    $("#btn_reset_user").css('margin-top', '-39px');
                     
                } else {
                    $("#btn_add_users").css('display', 'none');

                }


            });

            $('#frm_add_rh_utilisateur').submit(function (e) {
                var url = "{{ path('manage_users_add') }}";
                var formSerialize = $("#frm_add_rh_utilisateur").serialize();
                var id_role = $('#role_users_select').val();
                $('#rh_user_form_extra_user_role').val(id_role);
                $.post(url, formSerialize, function (response) {
                    //your callback here
                    //alert('response');
                }, 'JSON');
            });

        });



    </script>
{% endblock %}